


<html>
  <div class="card border-warning mb-3" style="max-width: 18rem;">
    <div class="card-header"><h1><%=@city.name%></h1></div>
    <div class="card-body text-warning">
      <h5 class="card-title">Zipcode : <%=@city.zip_code%></h5>
    </div>
  </div>

</html>

